<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.moulika.clockExtPoint" name="ClockExtPoint" schema="schema/edu.moulika.clockExtPoint.exsd"/>
   <extension
         point="edu.moulika.SnakeGameMainPlugin.StartGame">
      <StartGame
            SnakeGame="edu.moulika.logic.SnakeGame">
      </StartGame>
   </extension>

</plugin>
